.div1{
    width:30%;
    float:left;
}
.div2{
    width:30%;
    float:left;
}
.div3{
    width:30%;
    display: inline;
    margin-left:2%;
}
img{
    width:50%;
    height:60px;
}
.para{
    margin-top: 20px;
}